{{ define "main" }}
    <main class="container">
        <!-- Display the content of _index.md -->
        <div class="row">
            <div class="col">
                <div class="card shadow-sm mb-2">
                    <div class="card-body">
                        {{ .Content }}
                    </div>
                </div>
            </div>
        </div>

        <!-- Display a list of all posts -->
        <div class="row">
            <div class="col">
                <div class="card shadow-sm mb-2">
                    <div class="card-body">
                        <h2>Blog</h2>
                        <ul class="list-group">
                            {{ $pages := where .Site.RegularPages "Params.excludeFromHome" "ne" true }}
                            {{ range $pages }}
                                <li class="list-group-item">
                                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                                </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
{{ end }}